<app-main-nav></app-main-nav>
<div class="container">
	<h3 class="title">Programmazione del programma n. {{id_programma}}</h3>
	<button class="btn btn-success" type="button" id="addProgrammazione" (click)="openPopUp(0, programmazione_add_modify)">Aggiungi programmazione</button>
	<table class="table table-bordered table-striped">
		<thead>
		  <tr>
			<td class="center_object">Giorno</td>
			<td class="center_object">Esercizio</td>
			<td class="center_object">Serie</td>
      <td class="center_object">Ripetizioni</td>
      <td class="center_object">Carico</td>
			<td class="center_object">Note</td>
			<td class="center_object">Azioni</td>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let programmazione of programmazioni | paginate: { itemsPerPage: 20, currentPage: page }">
			<td class="center_object">{{programmazione.giorno}}</td>
			<td class="center_object">{{programmazione.nome_esercizio}}</td>
			<td class="center_object">{{programmazione.serie}}</td>
      <td class="center_object">{{programmazione.ripetizioni}}</td>
      <td class="center_object">{{programmazione.carico}}</td>
			<td class="center_object">{{programmazione.note}}</td>
			<td class="center_object">
				<button #modifica class="btn btn-primary fa fa-edit" value="{{programmazione.id_programmazione}}" (click)="openPopUp(modifica.value, programmazione_add_modify)" ngbTooltip="Modifica programmazione"></button>
				<button #elimina class="btn btn-danger fa fa-trash" value="{{programmazione.id_programmazione}}" (click)="deleteProgrammazione(elimina.value)" ngbTooltip="Elimina programmazione"></button>
			</td>
		  </tr>
		</tbody>
	  </table>
	  <div class="pagination">
		<pagination-controls (pageChange)="page = $event"></pagination-controls>
	  </div>
</div>

<ng-template #programmazione_add_modify let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">
			<div *ngIf="id_programmazione == 0; then aggiungi else modifica"></div>
			<ng-template #aggiungi>Aggiungi programmazione</ng-template>
			<ng-template #modifica>Modifica programmazione</ng-template>
		</h4>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
			  <label>Giorno</label>
			  <div class="input-group">
				  <input type="number" class="form-control" [(ngModel)]="giorno" [ngModelOptions]="{standalone: true}" required>
			  </div>
			</div>
			<div class="form-group">
				  <label >Esercizio</label>
				  <div class="input-group">
					  <select class="form-control" (change)="onChangeId_esercizio($event.target.value)" [value]='id_esercizio'>
						  <option value=""></option>
						  <option *ngFor="let esercizio of esercizzi" value="{{esercizio.id_esercizio}}">{{esercizio.descrizione}}</option>
					  </select>
				  </div>
			</div>
			<div class="form-group">
			  <label >Serie</label>
			  <div class="input-group">
				  <input type="number" class="form-control" [(ngModel)]="serie" [ngModelOptions]="{standalone: true}" required>
			  </div>
			</div>
			<div class="form-group">
			  <label >Ripetizioni</label>
			  <div class="input-group">
				  <input type="number" class="form-control" [(ngModel)]="ripetizioni" [ngModelOptions]="{standalone: true}" required>
			  </div>
      </div>
      <div class="form-group">
          <label >Carico</label>
          <div class="input-group">
            <input type="number" class="form-control" [(ngModel)]="carico" [ngModelOptions]="{standalone: true}" required>
          </div>
      </div>
			<div class="form-group">
			  <label >Note</label>
			  <div class="input-group">
				  <input type="text" class="form-control" [(ngModel)]="note" [ngModelOptions]="{standalone: true}">
				</div>
			</div>
		</form>
	</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-danger" style="display: inline;" (click)="modal.dismiss()">Annulla</button>
		<div *ngIf="id_programmazione == 0; then aggiungibtn else modificabtn"></div>
			<ng-template #aggiungibtn><button type="button" class="btn btn-success" (click)="addProgrammazione()">Aggiungi</button></ng-template>
			<ng-template #modificabtn><button type="button" class="btn btn-success" (click)="modifyProgrammazione()">Modifica</button></ng-template>
	  </div>
</ng-template>