<app-main-nav></app-main-nav>
<div class="container">
    <h3 class="title">Lista degli atleti</h3>
    <button class="btn btn-success" type="button" id="addAtleta" (click)="openPopUp(0, atleti_add_modify)">Aggiungi atleta</button>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="center_object">Nome</th>
                <th class="center_object">Cognome</th>
                <th class="center_object">Data nascita</th>
                <th class="center_object">Specializzazione</th>
                <th class="center_object">Username</th>
                <th class="center_object">Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let atleta of atleti">
                <td class="center_object">{{atleta.nome}}</td>
                <td class="center_object">{{atleta.cognome}}</td>
                <td class="center_object">{{atleta.data_nascita}}</td>
                <td class="center_object">{{atleta.descrizione}}</td>
                <td class="center_object">{{atleta.username}}</td>
                <td class="center_object">
                    <button #visualizza class="btn btn-info fa fa-eye"  value="{{atleta.id_atleta}}" ngbTooltip="Visualizza resoconto" (click)="view(visualizza.value, view_atleta)"></button>
                    <button #reset type="button" ngbTooltip="Reset Password" class="btn btn-warning fa fa-key" value="{{atleta.id_atleta}}" (click)="resetPassword(reset.value)"></button>
                    <button #modifica class="btn btn-primary fa fa-edit" (click)="openPopUp(modifica.value, atleti_add_modify)" value="{{atleta.id_atleta}}" ngbTooltip="Modifica atleta"></button>
                    <button #elimina class="btn btn-danger fa fa-trash" (click)="deleteAtelta(elimina.value)" value="{{atleta.id_atleta}}" ngbTooltip="Elimina atleta"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #atleti_add_modify let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <div *ngIf="id_atleta == 0; then aggiungi else modifica"></div>
            <ng-template #aggiungi>Aggiungi atleta</ng-template>
            <ng-template #modifica>Modifica atleta</ng-template>
        </h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Nome</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" required>
                </div>
            </div>
            <div class="form-group">
                <label >Cognome</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="cognome" [ngModelOptions]="{standalone: true}" required>
                </div>
            </div>
            <div class="form-group">
                <label >Data nascita</label>
                <div class="input-group">
                    <input type="date" class="form-control" [(ngModel)]="data_nascita" [ngModelOptions]="{standalone: true}" required>
                </div>
            </div>
            <div class="form-group">
                <label>Specializzazione</label>
                <div class="input-group">
                    <select class="form-control" (change)="onChangeSpecializzazione($event.target.value)" [value]='id_specializzazione'>
                    <option value=""></option>
                    <option *ngFor="let specializzazione of specializzazioni" value="{{specializzazione.id_specializzazione}}">{{specializzazione.descrizione}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="display: inline;" (click)="modal.dismiss()">Annulla</button>
        <div *ngIf="id_atleta == 0; then aggiungibtn else modificabtn"></div>
            <ng-template #aggiungibtn><button type="button" class="btn btn-success" (click)="addAtleta()">Aggiungi</button></ng-template>
            <ng-template #modificabtn><button type="button" class="btn btn-success" (click)="modifyAtleta()">Modifica</button></ng-template>
        </div>
</ng-template>

<ng-template #view_atleta>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Info atleta
        </h4>
    </div>
    <div class="modal-body">
        <div *ngIf="nota.nota != ''; then nota_pieno">
        </div>
        <ng-template #nota_pieno>
            <div class="separazione">
                <h3 class="title"> Ultima nota</h3>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="center_object">Nota</th>
                            <th class="center_object">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center_object">{{nota.note}}</td>
                            <td class="center_object">{{nota.data}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
        <div *ngIf="plicometria.pettorale != ''; then plicometria_pieno">
        </div>
        <ng-template #plicometria_pieno>
            <div class="separazione">
                <h3 class="title">Ultima plicometria</h3>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="center_object">Pettorale</th>
                            <th class="center_object">Addome</th>
                            <th class="center_object">Gamba</th>
                            <th class="center_object">Percentuale</th>
                            <th class="center_object">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center_object">{{plicometria.pettorale}}</td>
                            <td class="center_object">{{plicometria.addome}}</td>
                            <td class="center_object">{{plicometria.gamba}}</td>
                            <td class="center_object">{{plicometria.percentuale}}%</td>
                            <td class="center_object">{{plicometria.data_rilevazione}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="display: inline;" (click)="modal.dismiss()">Chiudi</button>
    </div>
</ng-template>