.btn{
    margin: 2.5px;
}

.center_object{
    text-align: center;
}

.title{
    margin:15px;
    text-align: center;
}

#addAtleta{
    margin-top:5px;
    margin-bottom:5px;
}

.pagination{
    float: right;
    margin-bottom: 5px;
}

.separazione{
    margin:5px;
}

.title_popup{
    margin-top:70px;
    text-align: center;
}