<app-main-nav></app-main-nav>
<div class="container">
    <h3 class="title">Lista degli esercizzi</h3>
    <button class="btn btn-success" type="button" id="addEsercizio" (click)="openPopUp(0, esercizzi_add_modify)">Aggiungi esercizio</button>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="center_object">Descrizione</th>
          <th class="center_object">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let esercizio of esercizzi | paginate: { itemsPerPage: 20, currentPage: page }">
          <td class="center_object">{{esercizio.descrizione}}</td>
          <td class="center_object">
              <button #modifica class="btn btn-primary fa fa-edit" value="{{esercizio.id_esercizio}}" (click)="openPopUp(modifica.value, esercizzi_add_modify)" ngbTooltip="Modifica esercizio"></button>
              <button #elimina class="btn btn-danger fa fa-trash" value="{{esercizio.id_esercizio}}" (click)="deleteEsercizio(elimina.value)" ngbTooltip="Elimina esercizio"></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

<ng-template #esercizzi_add_modify let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          <div *ngIf="id_esercizio == 0; then aggiungi else modifica"></div>
          <ng-template #aggiungi>Aggiungi esercizio</ng-template>
          <ng-template #modifica>Modifica esercizio</ng-template>
      </h4>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <label >Descrizione</label>
              <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="descrizione" [ngModelOptions]="{standalone: true}" required>
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger" style="display: inline;" (click)="modal.dismiss()">Annulla</button>
      <div *ngIf="id_esercizio == 0; then aggiungibtn else modificabtn"></div>
          <ng-template #aggiungibtn><button type="button" class="btn btn-success" (click)="addEsercizio()">Aggiungi</button></ng-template>
          <ng-template #modificabtn><button type="button" class="btn btn-success" (click)="modifyEsercizio()">Modifica</button></ng-template>
      </div>
</ng-template>